*{
    margin: 0;
    padding: 0;
}
.box{
   background-color: aqua;
}
.box1{
    color: red;
    padding: 10px;
    margin: 10px;
    border: 2px solid blue;
    height: 200px;
    box-sizing: border-box;
}
/* 
  Total Height=Width+left padding+ right padding+leftborder+ right border+ left margin + right margin
  Total Height=Width+ top padding + bottom padding + top border + bottom border+  top margin + bottom margin
*/
.box2{
    color: yellow;
    padding: 10px;
    margin: 10px;
    border: 2px solid blue;
    height: 200px;
    box-sizing: border-box;
    
}